.card{
    background-color: rgb(246, 242, 242);
    box-shadow: 0px 0px 30px rgba(58, 143, 99, 0.267);
    padding: 10px;
    margin-right: 40px;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    font-size: 100px;

}

img{
    border-radius: 7px;
}

.codLivro{
 padding: 5px;
 font-size: 18px;
 font-family: 'Franklin Gothic Medium';
}

.nomeLivro{
    padding: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}


.divPrincipal{
    background-color: #ffff;
    display: inline-flex;
    justify-content:start;
    width: 100%;
    box-shadow: 0px 0px 0px;
}

